<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="title">
      Mi Ranking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <br>

  <div class="container">
    <div class="card shadow-lg p-3 mb-5 bg-body roundeds">
  
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Puntuación</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">06/06/2023</th>
            <td>20N</td>
          </tr>

          <tr>
            <th scope="row">08/06/2023</th>
            <td>80N</td>
          </tr>

          <tr>
            <th scope="row">10/06/2023</th>
            <td>80N</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</ion-content>